.DarkFooter {
  background-image: url('/images/globals/isolant-aislantes-fondo-lineas-oscuras.jpg');
}


.FloatingWhatsappIcon {
  width: 28px !important;
  height: 28px !important;
  fill: #ffffff !important;
}
